
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{ 
}
.carousel-item img{
    height: 100vh;
}

/* ? start of nav style */

.btn-outline-success:hover {
    background-color: transparent;
    border: 1px solid r#009ad8ed;
    color: #009ad8;
}
.navbar-toggler:hover{
    color: #009ad8;
}

.fa-bars:hover{
    color: #009ad8;
}

.btn-outline-success{
    border: 1px solid white;
    color: white;
    --bs-btn-hover-border-color: #009ad8;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: #009ad8;
}

.nav-item .active {
   /* color: green; */
}
.navbar-toggler{
    border: 1px solid transparent;
    color: #009ad8;
}
.fa-bars{
    color:#fff; font-size:28px;
}
.carousel-control-next-icon{
    color: #009ad8;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #009ad8;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #009ad8;
}
/* ? end of nav style */


#container{
   margin-top: 100px;
}
.card {
    margin: 15px;
    /* animation: mymove  ease-in-out 2.5s; */
    float: left;
    overflow: hidden;
    /* margin: 10px; */
    justify-content: center;
    position: relative;
    width: 275px;
    height: 400px;
    border-radius: 10px;
    /* box-shadow: 0 5px 5px gray 0.9; */
}
/* @keyframes mymove {
    0% {
     transform: translateX(2000px);
     opacity: 0;
 }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 } */


.card .poster{
    position: relative;
}

.card .poster::before{
    content: "";
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#1064a6 50% ,transparent);
    transition: 0.5s;
    z-index: 1;
}

.card:hover .poster::before
{
    bottom : -170px;
    transition: 0.5s;
}


.poster img{
    width: 100%;
    transition: 0.5s;
}

.card:hover .poster img{
    transform: translateY(-50px);
    filter: blur(1px);

}

.card .details {
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 30px;
    width: 100%;
    justify-content: center;
    z-index: 99999;
    transition: 0.5s;
    
}

.card .details h2{
    color: white;
font-size: 25px;
font-weight: bolder;
text-shadow: 2px 2px  #2B2C28;

}


.card:hover .details{
    bottom: 40px;

}

#rating{
    position: relative;
    font-size: 20px;
    border: orange solid 4px;
    display: inline-block;
    border-radius: 15px;
    padding: 7.5px;
    float: right;
    opacity: 0.6;

} 

.card:hover #rating{
    
    opacity: 1;
   
} 

#tags {
    margin-top: 30px;
    position: relative;
    color: black;
    z-index: 99999;
}

#tags span{
    padding: 10px;
    background-color: #2B2C28;
    border-radius: 15px;
    color: white;
}

.details p {
    text-overflow: ellipsis;
}

nav{
 position: relative;
}

#cardContainer ,#mostPoupler{
    
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fa-regular ,.fa-solid {
    position: absolute;
    bottom: 310px;
    left: 230px;
    cursor: pointer;
    font-size: 40px;
    color: orangered;
    z-index: 9999;
}


.card2{
    background-color: aqua;
    width: 100%;
    border: blue solid 2px;    
}


.popup{
    width:  400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% ,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
    z-index: 9999999999;
   }
   .open-popup{
     visibility: visible;
     top: 50%;
     transform: translate(-50% ,-50%) scale(1);
     z-index: 9999999999;
   
   }
   
   .popup button{
     width: 100%;
     margin-top: 50px;
     padding: 10px 0;
     background: #141e30;
     color: #fff;
     border: 0;
     outline: none;
     font-size: 18px;
     border-radius: 4px;
     cursor: pointer;
     box-shadow: 0 25px 5px rgba(0,0,0,0.1) ;
   }
